.advantages {
  display: flex;
  flex-direction: column;

  position: relative;
}

.advantages__question {
  font-size: 24px;
  line-height: 28px;
  font-weight: 300;
  color: @color-main;
  text-align: center;

  margin: 0 auto;
  margin-top: 41px;
  padding: 0;

  &--answer {
    margin-top: 31px;
  }
}

.advantages__list {
  display: flex;
  flex-direction: column;

  list-style: none;

  background-color: @color-decor;

  margin: 0;
  padding: 0;

  &::before {
    content: "";

    display: block;

    width: @width-main;
    min-height: 114px;

    background-image: url("../img/bg-triangle-white.svg");
    background-repeat: no-repeat;
    background-position: bottom 56px left 0;
    background-color: @color-decor;
  }
}

.advantages__item {
  display: flex;
  flex-direction: column;
}

.advantages__title {
  margin: 0;
  margin-bottom: 12px;
  padding: 0;

  font-size: 18px;
  line-height: @line-height-main;
  font-weight: 700;
  text-align: center;
}

.advantages__description {
  margin: 0 31px;
  margin-bottom: 31px;
  padding: 0;

  font-size: @font-main;
  line-height: @line-height-main;
  font-weight: 300;
  text-align: center;
  color: @color-main;
}

.advantages__img-box {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 0;
  padding-top: 10px;

  width: @width-main;
  height: 278px;
  background-color: @color-decor;
}
