.download {
  display: flex;
  flex-direction: column;

  background-color: #1d2631;
}

.download__background {
  display: flex;
  align-items: flex-end;

  min-height: 396px;
  width: @width-main;

  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-position: bottom 0 left 0;
  background-repeat: no-repeat;
}

.download__title {
  display: none;
}

.download__button {
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;

  height: 56px;
  width: 280px;

  border: 3px solid #ffffff;
  border-radius: 30px;

  margin-top: 27px;
  margin-left: 20px;

  color: #ffffff;
  background-color: #1d2631;

  font-family: "Open Sans", "Arial", sans-serif;

  &:hover,
  &:focus {
    background-color: #ffffff;
    color: #d22856;
  }

  &:active {
    background-color: #ffffff;
    color: #f2cdd4;
  }
}

.download__list {
  display: flex;
  justify-content: space-between;
  align-items: center;

  list-style: none;

  margin: 0 auto;
  margin-top: 33px;
  padding: 0;
  padding-left: 0;

  width: 205px;
  min-height: 57px;
}

.download__description {
  font-size: @font-main;
  line-height: @line-height-main;
  font-weight: 300;
  color: #ffffff;
  text-align: center;

  margin: 0 45px;
  margin-top: 14px;
  margin-bottom: 30px;
  padding: 0;
}

@media (min-width: 660px) {
  .download {
    justify-content: flex-end;

    position: relative;

    width: 660px;
    min-height: 620px;

    background-image: url("../img/bg-back-tablet@1x.jpg");
    background-position: bottom center;
    background-size: 182%;
  }

  .download__background {
    margin: 0 auto;
    padding: 0;

    background-image: url("../img/iphone-hand-tablet@1x.png");
    background-position: top 0 right -40px;

    width: 620px;
    min-height: 546px;
  }

  .download__box {
    position: absolute;
    top: 90px;
    left: 20px;

    width: 300px;
    min-height: 405px;
  }

  .download__title {
    display: block;
    margin: 0;
    margin-bottom: 29px;
    padding: 0 30px;

    font-size: 40px;
    line-height: 49px;
    font-weight: 300;
    text-align: center;
    color: #ffffff;
  }

  .download__button {
    background-color: inherit;

    margin: 0;
    margin-bottom: 43px;
    padding: 0;

    width: 300px;
  }

  .download__image {
    display: none;
  }

  .download__list {
    margin: 0 auto;
    margin-bottom: 32px;
    padding: 0;
  }

  .download__logo {
    &--android {
      margin-top: 2px;
      width: 43px;
      height: 47px;
    }

    &--windows {
      margin-top: 9px;
      width: 44px;
      height: 41px;
    }
  }

  .download__description {
    font-size: 18px;

    margin: 0;
    padding: 0;
  }
}

@media (min-width: 1200px) {
  .download {
    width: 1200px;
    min-height: 853px;

    background-image: url("../img/bg-back-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 214%;
  }

  .download__background {
    background-image: url("../img/iphone-hand-desktop@1x.png");
    background-position: bottom 0 right 4px;

    margin: 0;

    width: 1200px;
    min-height: 644px;
  }

  .download__box {
    top: 218px;
    left: 130px;
  }

  .download__title {
    font-size: 50px;
    line-height: 60px;
    font-weight: 300;

    margin-bottom: 52px;
  }

  .download__button {
    font-size: 21px;
    margin-bottom: 66px;
  }

  .download__list {
    margin-bottom: 49px;
  }
}
