.header {
  display: flex;
  position: relative;

  text-transform: uppercase;
}

.header__image {
  position: absolute;
  top: 21px;
  left: 21px;

  &--tablet {
    display: none;
  }

  &--desktop {
    display: none;
  }
}

.header__logo {

  &:hover,
  &:focus {
    .header__image-color{
      fill: #d22856;
    }
  }

  &:active {
    .header__image-color{
      fill: #ffffff;
      opacity: 0.3;
    }
  }
}



@media (min-width: 660px) {
  .header__image {
    display: none;

    &--desktop {
      display: none;
    }
  }

  .header__image--tablet {
    display: block;
    position: absolute;
    top: 27px;
    left: 20px;
  }
}

@media (min-width: 1200px) {
  .header__image--desktop {
    display: block;
    position: absolute;
    top: 27px;
    left: 130px;
    z-index: 9;
  }

  .header__image--tablet {
    display: none;
  }

  .header {
    text-transform: none;
  }
}
