.main__competition {
  margin: 0;
  margin-top: 0;
  padding: 0;

  width: 100%;
  min-height: 170px;
}

.main__title {
  margin: 0 40px;
  padding-top: 28px;

  font-size: 24px;
  font-weight: 300;
  line-height: 30px;
  color: #ffffff;
  text-align: center;
}

@media (min-width: @width-tablet) {
  .main__competition {
    width: 100%;
    min-height: 328px;
  }

  .main__title {
    margin: 0;
    padding: 0 50px;
    padding-top: 69px;

    font-size: 50px;
    font-weight: 300;
    line-height: 60px;
  }
}

@media (min-width: @width-desktop) {
  .main__competition {
    width: @width-desktop;
    min-height: 284px;

    margin: 0 auto;
  }

  .main__title {
    padding: 0 200px;
    padding-top: 63px;
  }
}
