.main-form {
  display: flex;
  flex-direction: column;

  margin: 0 auto;
  padding: 0;

  min-width: 320px;
}

.main-form__description {
  margin: 0;
  padding: 0 20px;
  margin-top: 45px;
  margin-bottom: 34px;

  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  color: @color-main;
  text-align: center;
}

.main-form__description span {
  display: none;
}

.main-form__invalid,
.main-form__valid {
  display: none;
  flex-direction: column;

  position: absolute;
  top: 1900px;
  left: 0;

  margin: 0 auto;
  padding: 0;

  width: 100%;

}

.main-form__invalid-title {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;

  margin: 0;
  padding: 0;
  margin-top: 39px;
  margin-bottom: 26px;
}

.main-form__valid-title {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;

  margin: 0;
  padding: 0;
  margin-top: 45px;
  margin-bottom: 26px;
}

.main-form__invalid-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  color: @color-main;

  margin: 0 auto;
  padding: 0;
  margin-bottom: 38px;

  width: 280px;
}

.main-form__valid-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  color: @color-main;

  margin: 0 auto;
  padding: 0;
  margin-bottom: 31px;

  width: 270px;
}

.main-form__invalid-button {
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  text-align: center;
  color: #ffffff;
  font-family: inherit;

  background-color: #2aab6d;

  margin: 0 auto;
  padding: 0;

  width: 280px;
  height: 64px;

  border: 0;

  &:hover,
  &:focus {
    background-color: #1c9b5e;
  }

  &:active {
    color: #6ab58d;
  }
}

.main-form__valid-button {
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  text-align: center;
  color: #ffffff;
  font-family: inherit;

  background-color: #2aab6d;

  margin: 0 auto;
  padding: 0;
  margin-top: 48px;

  width: 280px;
  height: 64px;

  border: 0;

  &:hover,
  &:focus {
    background-color: #1c9b5e;
  }

  &:active {
    color: #6ab58d;
  }
}

.main-form__box {
  &--valid {
    display: flex;
    justify-content: center;

    min-height: 163px;

    background-color: @color-decor;
  }

  &--invalid {
    display: block;

    margin: 0 auto;
    padding: 0;
  }

}

.main-form__wrapper {
  display: flex;
  flex-direction: column;

  width: 320px;
  min-height: 288px;

  margin: 0 auto;

  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);

  background-color: #ffffff;

  &--valid {
    min-height: 380px;
  }
}

.main-form__invalid--invisible {
  display: none;
}

.main-form__invalid--visible {
  display: flex;
}

.main-form__valid--invisible {
  display: none;
}

.main-form__valid--visible {
  display: flex;
}

@media (min-width: @width-tablet) {
  .main-form {
    width: 660px;
  }

  .main-form__description {
    font-size: 18px;

    width: 495px;

    margin: 0 auto;
    padding: 0;
    margin-top: 92px;
    margin-bottom: 71px;
  }

  .main-form__description span {
    display: block;
  }

  .main-form__container {
    display: flex;
    flex-direction: column;
  }

  .main-form__invalid-title {
    font-size: 30px;
    line-height: 40px;

    width: 220px;

    margin: 0 auto;
    margin-top: 36px;
    margin-bottom: 22px;
  }

  .main-form__invalid-text {
    font-size: 18px;
    line-height: 24px;

    width: 300px;
  }

  .main-form__valid-title {
    font-size: 30px;
    line-height: 40px;

    width: 220px;

    margin: 0 auto;
    margin-top: 35px;
    margin-bottom: 22px;
  }

  .main-form__valid-text {
    font-size: 18px;
    line-height: 24px;

    width: 310px;

    margin-bottom: 34px;
  }

  .main-form__valid-text br {
    display: none;
  }

  .main-form__valid-button {
    width: 300px;
  }

  .main-form__wrapper {
    min-height: 363px;
    width: 460px;

    margin: 0 auto;

    &--valid {
      min-height: 430px;
    }
  }
}

@media (min-width: @width-desktop) {
  .main-form {
    width: 940px;
  }

  .main-form__description {
    width: 765px;

    margin-bottom: 31px;
  }

  .main-form__description span {
    display: contents;
  }

  .main-form__invalid,
  .main-form__valid {
    top: 1273px;
  }

  .main-form__invalid-title {
    font-size: 30px;
    line-height: 40px;

    width: 340px;

    margin: 0 auto;
    margin-top: 43px;
    margin-bottom: 22px;
  }

  .main-form__invalid-text {
    font-size: 18px;
    line-height: 24px;

    width: 350px;

    margin-bottom: 62px;
  }

  .main-form__invalid-button {
    width: 300px;

    margin-top: 47px;
  }

  .main-form__valid-title {
    font-size: 30px;
    line-height: 40px;

    width: 400px;

    margin: 0 auto;
    margin-top: 43px;
    margin-bottom: 22px;
  }

  .main-form__valid-text {
    font-size: 18px;
    line-height: 24px;

    width: 380px;

    margin-bottom: 39px;
  }

  .main-form__valid-text br {
    display: none;
  }

  .main-form__valid-button {
    width: 460px;
  }

  .main-form__wrapper {
    min-height: 377px;
    width: 780px;

    &--valid {
      min-height: 377px;
    }
  }

  .main-form__box {
    &--invalid {
      display: flex;
      justify-content: center;

      min-height: 163px;
      width: 300px;

      padding: 0 240px;

      background-color: @color-decor;
    }
  }
}
