@media(max-width: 659px) {
  .price {
    display: flex;
    flex-direction: column;

    margin: 0 auto;
    padding: 0;
    margin-top: 42px;

    min-height: 470px;

    background-image: url("../img/bg-triangle-white.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: top left;
    background-color: @color-decor;
  }

  .price__table {
    display: flex;

    margin: 0 auto;
    padding: 0;
    margin-top: 91px;
    margin-bottom: 42px;

    width: 320px;
    height: 280px;
  }

  .price__header {
    display: flex;

    margin: 0;
    padding: 0;
  }

  .price__title {
    display: block;

    min-height: 96px;

    background-color: @color-main;

    border-left: 2px solid #e5e5e5;

    font-family: inherit;

    &--center {
      width: 274px;
    }

    &--first {
      width: 18px;

      border-left: none;
    }

    &--last {
      width: 18px;
    }
  }

  .price__title p {
    font-size: 18px;
    line-height: 30px;
    color: #ffffff;
    font-weight: 700;

    margin: 0;
    padding: 0;
    margin-top: 15px;
    margin-bottom: 2px;
  }

  .price__title b {
    font-size: 24px;
    line-height: 30px;
    color: #ffffff;
    font-weight: 300;

    margin: 0;
    padding: 0;
  }

  .price__line {
    display: flex;

    margin: 0;
    padding: 0;
  }

  .price__item {
    display: flex;
    align-items: center;
    justify-content: space-between;

    min-height: 57px;

    background-color: #ffffff;

    border-left: 2px solid #e5e5e5;
    border-bottom: 2px solid #e5e5e5;

    &--center {
      width: 274px;
    }

    &--first {
      width: 18px;

      border-left: none;
    }

    &--last {
      width: 18px;
    }
  }

  .price__item span {
    font-size: 14px;
    line-height: 30px;
    font-weight: 400;
    color: @color-main;

    margin-left: 21px;
  }

  .price__item svg {
    margin-right: 16px;
  }

  .price__title--first p,
  .price__title--first b,
  .price__title--last p,
  .price__title--last b,
  .price__name,
  .price__item--first span,
  .price__item--first svg,
  .price__item--last span,
  .price__item--last svg{
    display: none;
  }

  .price__buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 0 auto;
    padding: 0;

    width: 59px;
  }

  .price__btn {
    width: 6px;
    height: 6px;

    margin: 0;
    padding: 0;

    background-color: #bec2c7;

    border-radius: 10px;
    border: none;

    &--active {
      width: 12px;
      height: 12px;

      border: 3px solid @color-main;
      background-color: #e9ebec;
    }

    &:hover,
    &:focus {
      background-color: #7e868f;
    }

    &:active {
      background-color: #e9ebec;
    }
  }
  .price__hit {
    position: absolute;
    top: 0;
    left: -2px;

    width: 74px;
    height: 73px;
  }
  .price__title--center {
    position: relative;
  }

  .price__title--center span {
    transform: rotate(-45deg);

    position: absolute;
    top: 11px;
    left: 9px;

    color: #ffffff;
    font-size: 14px;
    line-height: 30px;
    font-weight: 400;
  }
}

@media (min-width: @width-tablet) {
  .price {
    margin: 0 auto;
    padding: 0;
    padding-top: 88px;
    margin-top: 21px;

    min-height: 288px;

    background-color: @color-decor;
    background-image: url("../img/bg-triangle-white.svg");
    background-size: 100%;
    background-position: top left;
    background-repeat: no-repeat;
  }

  .price__table {
    display: flex;

    margin: 0 auto;
    padding: 0;

    width: 620px;
    height: 220px;
  }

  .price__header {
    display: flex;
    justify-content: flex-end;

    margin: 0;
    padding: 0;

    width: 620px;
    height: 79px;
  }

  .price__title {
    width: 155px;
    height: 79px;

    margin: 0;
    padding: 0;

    background-color: @color-main;

    &--first,
    &--center {
      border-right: 2px solid #ffffff;
      width: 153px;
    }

    &--first {
      width: 151px;

      padding-left: 2px;
    }
  }

  .price__title p {
    margin: 0;
    paddding: 0;
    margin-top: 12px;

    font-size: 16px;
    line-height: 30px;
    font-weight: 700;
    color: #ffffff;
  }

  .price__title b {
    margin: 0;
    paddding: 0;

    font-size: 18px;
    line-height: 27px;
    font-weight: 300;
    color: #ffffff;
  }

  .price__hit {
    position: absolute;
    top: 0;
    left: 0px;

    width: 60px;
    height: 60px;
  }

  .price__title--center {
    position: relative;
  }

  .price__title--center span {
    transform: rotate(-45deg);

    position: absolute;
    top: 3px;
    left: 7px;

    color: #ffffff;
    font-size: 14px;
    line-height: 30px;
    font-weight: 400;
  }

  .price__line {
    display: flex;

    width: 620px;
  }

  .price__name {
    display: flex;
    align-items: center;

    font-size: 14px;
    line-height: 30px;
    font-weight: 400;
    color: @color-main;

    background-color: #ffffff;

    padding-left: 15px;

    width: 138px;
    height: 42px;

    border-bottom: 2px solid #e5e5e5;
    border-right: 2px solid #e5e5e5;
    border-left: 2px solid #e5e5e5;

    &--first {
      border-top: 2px solid #e5e5e5;
    }
  }

  .price__item {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 153px;
    height: 42px;

    background-color: #ffffff;

    border-bottom: 2px solid #e5e5e5;
    border-right: 2px solid #e5e5e5;

    &--top {
      border-top: 2px solid #ffffff;
    }
  }

  .price__item span {
    display: none;
  }

  .price__buttons {
    display: none;
  }
}

@media (min-width: @width-desktop) {
  .price {
    margin-top: 7px;
    padding-top: 148px;

    min-height: 376px;
  }

  .price__table {
    width: 940px;
  }

  .price__header {
    width: 940px;
    height: 98px;
  }

  .price__title {
    width: 234px;
    height: 98px;

    &--first {
      width: 232px;
    }
  }

  .price__title p {
    margin-top: 16px;
    margin-bottom: 3px;

    font-size: 18px;
  }

  .price__title b {
    font-size: 24px;
  }

  .price__hit {
    width: 74px;
    height: 73px;
  }

  .price__title--center span {
    top: 11px;
    left: 12px;
  }

  .price__line {
    width: 940px;
  }

  .price__name {
    width: 215px;
    height: 56px;

    padding-left: 20px;

    font-size: 18px;
  }

  .price__item {
    width: 234px;
    height: 56px;
  }
}
