.user-photos {
  display: flex;
  flex-direction: column;
}

.user-photos__box-title {
  margin: 0;
  padding: 0;

  width: @width-main;
  min-height: 170px;

  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: top -65px left 0;
}

.user-photos__title {
  margin: 0 77px;
  margin-top: 28px;

  font-size: 24px;
  font-weight: 300;
  line-height: 30px;
  color: #ffffff;
  text-align: center;
}

.user-photos__box-description {
  margin: 0;
  padding: 0;

  min-height: 184px;
  width: @width-main;
}

.user-photos__description {
  margin: 0 38px;
  margin-top: 46px;
  padding: 0;

  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  color: @color-main;
  text-align: center;
}

.user-photos__list {
  display: flex;
  flex-direction: column;

  width: 320px;

  margin: 0;
  padding: 0;

  list-style: none;
}

.user-photos__tablet {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  margin: 0;
  padding: 0;
  width: 320px;

  list-style: none;
}

@media (min-width: 660px) {
  .user-photos__box-title {
    width: 660px;
    min-height: 328px;

    background-image: url("../img/bg-back-tablet@1x.jpg");
    background-repeat: no-repeat;
    background-position: top -110px center;
  }

  .user-photos__title {
    margin: 0;
    margin-top: 70px;
    padding: 0 50px;

    font-size: 50px;
    font-weight: 300;
    line-height: 58px;
  }

  .user-photos__box-description {
    margin: 0;
    padding: 0;

    width: 660px;
    min-height: 228px;
  }

  .user-photos__description {
    margin: 0;
    margin-top: 92px;
    padding: 0 100px;

    font-size: 18px;
  }

  .user-photos__list {
    margin: 0;
    padding: 0;
    width: 660px;
  }

  .user-photos__tablet {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    margin: 0;
    padding: 0 20px;
    width: 620px;
  }
}

@media (min-width: 1200px) {
  .user-photos__box-title {
    width: 1200px;
    min-height: 394px;

    background-image: url("../img/bg-back-desktop@1x.jpg");
    background-position: top center;
  }

  .user-photos__title {
    margin-top: 175px;

    padding: 0 300px;
  }

  .user-photos__box-description {
    width: 1200px;
    min-height: 240px;
  }

  .user-photos__description {
    padding: 0 300px;
  }

  .user-photos__tablet {
    width: 940px;

    padding: 0 130px;
  }
}
