.user-photos {
  display: flex;
  flex-direction: column;
}

.user-photos__box-title {
  margin: 0;
  padding: 0;

  width: 100%;
  min-height: 170px;

  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top -65px left 0;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../img/bg-back-mobile@2x.jpg");
  }
}

.user-photos__title {
  margin: 0 77px;
  margin-top: 28px;

  font-size: 24px;
  font-weight: 300;
  line-height: 30px;
  color: #ffffff;
  text-align: center;
}

.user-photos__box-description {
  margin: 0 auto;
  padding: 0;

  min-height: 184px;
  width: @width-main;
}

.user-photos__description {
  margin: 0 38px;
  margin-top: 46px;
  padding: 0;

  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  color: @color-main;
  text-align: center;
}

.user-photos__list {
  display: flex;
  flex-direction: column;

  width: @width-main;

  margin: 0 auto;
  padding: 0;

  list-style: none;
}

.user-photos__tablet {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  margin: 0;
  padding: 0;
  width: 320px;

  list-style: none;
}

@media (max-width: 1199px) {
  .body--closed .user-photos__box-title {
    min-height: 240px;
  }

  .body--opened .user-photos__box-title,
  .body--nojs .user-photos__box-title {
    min-height: 170px;
  }

  .body--closed .user-photos__title {
    margin-top: 98px;
  }

  .body--opened .user-photos__title,
  .body--nojs .user-photos__title {
    margin-top: 28px;
  }
}

@media (min-width: @width-tablet) {
  .user-photos__box-title {
    width: 100%;
    min-height: 328px;

    background-image: url("../img/bg-back-tablet@1x.jpg");
    background-repeat: no-repeat;
    background-position: top center;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/bg-back-tablet@2x.jpg");
    }
  }

  .user-photos__title {
    margin: 0;
    margin-top: 70px;
    padding: 0 50px;

    font-size: 50px;
    font-weight: 300;
    line-height: 58px;
  }

  .user-photos__box-description {
    margin: 0 auto;
    padding: 0;

    width: @width-tablet;
    min-height: 228px;
  }

  .user-photos__description {
    margin: 0 auto;
    margin-top: 92px;
    padding: 0 100px;

    font-size: 18px;
  }

  .user-photos__list {
    margin: 0 auto;
    padding: 0;
    width: @width-tablet;
  }

  .user-photos__tablet {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    margin: 0;
    padding: 0 20px;
    width: 620px;
  }

  .body--closed .user-photos__box-title {
    min-height: 438px;
  }

  .body--opened .user-photos__box-title,
  .body--nojs .user-photos__box-title {
    min-height: 328px;
  }

  .body--closed .user-photos__title {
    margin-top: 180px;
  }

  .body--opened .user-photos__title,
  .body--nojs .user-photos__title {
    margin-top: 70px;
  }
}

@media (min-width: @width-desktop) {
  .user-photos__box-title {
    width: @width-desktop;
    min-height: 394px;

    background-image: url("../img/bg-back-desktop@1x.jpg");
    background-position: top center;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/bg-back-desktop@2x.jpg");
    }
  }

  .user-photos__title {
    margin-top: 175px;

    padding: 0 300px;
  }

  .user-photos__list {
    width: @width-desktop;
  }

  .user-photos__box-title--nojs .user-photos__title {
    margin-top: 175px;
  }

  .user-photos__box-description {
    width: @width-desktop;
    min-height: 240px;
  }

  .user-photos__description {
    padding: 0 300px;
  }

  .user-photos__tablet {
    width: 940px;

    padding: 0 130px;
  }

  .body--nojs .user-photos__box-title,
  .body--closed .user-photos__box-title {
    min-height: 394px;
  }

  .body--nojs .user-photos__title {
    margin-top: 175px;
  }
}
