body {
  margin: 0 auto;
  padding: 0;
  font-family: "Open Sans", "Arial", sans-serif;
  min-width: 320px;
}

.body__sprite {
  display: none;
}

.body__wrapper {
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 100% 465px;

  background-color: #1d2631;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../img/bg-back-mobile@2x.jpg");
  }
}

.body--opened .body__wrapper,
.body--nojs .body__wrapper {
  background-position: top 257px center;
}

a {
  text-decoration: none;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@media (min-width: @width-tablet) {
  body {
    min-width: @width-tablet;
  }

  .body__wrapper {
    background-image: url("../img/bg-back-tablet@1x.jpg");
    background-position: top center;
    background-size: 182%;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/bg-back-tablet@2x.jpg");
    }
  }
}

@media (min-width: @width-desktop) {
  body {
    min-width: @width-desktop;
  }

  .body__wrapper {
    background-image: url("../img/bg-back-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/bg-back-desktop@2x.jpg");
    }
  }

  .body__container {
    width: 100%;
    margin: 0 auto;

    background-color: rgba(0, 0, 0, 0.3);
  }
}
